
@media (max-width: 1200px){
    .sidebar{
        position: fixed;
        left:0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 72px;
        z-index: 101;
        padding-top: 5px;
    }
    .sidebar-link{
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }
    .sidebar-link:hover{
        background-color: rgb(235,235,235);
    }
    .sidebar-link img{
        height: 24px;
        margin-bottom: 4px;
    }
    .sidebar-link div{
        font-size: 10px;
    }
}
@media (min-width: 1200px){
    .sidebar{
        position: fixed;
        left:0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 144px;
        z-index: 101;
        padding-top: 5px;
    }
    .sidebar-link{
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        cursor: pointer;
    }
    .sidebar-link:hover{
        background-color: rgb(235,235,235);
    }
    .sidebar-link img{
        height: 24px;
        margin-bottom: 4px;
        width: 50px;
    }
    .sidebar-link div{
        font-size: 12px;
        flex:1;
        margin-left: 10px;
    }
    body{
        padding-left: 168px;
    }
}